@import (reference) "../../../styles/globalStyle.less";
@pageName: ~"transaction-list-page";

.@{pageName} {
  background-color: white;
  min-height: 100vh;
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}
