@componentName: ~'loading-component';
@import (reference) '../../styles/globalStyle';

.@{componentName} {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
